head{
    font-size: 30px;
    color:red ;
}
h1{
    color:blue;
    font-size:25px;
    text-align:center;
    font-style:italic;
}
body{
    background-color:skyblue;
    display:inline;
}
p{
    font-size:20px;
    text-align:center;
}